
@media only screen and (min-width: 1300px){
  footer {
    align-items: left;
    background-color:  rgb(55, 125, 190);
    }
  
  /* check l */

  h2{
    size: 150px;
  }

  .weather-summary {
    grid-column: 2/6;
    grid-row: 1/2;
    background-color:  none;
    opacity: 0.95;
    border-radius: 15px;
    margin-top: -10em;
    margin-bottom: 1em;
	font-size: 1rem;
  }


    #section-2-img{
      grid-column: 2/3;
      grid-row: 1/2;
      padding: 1em;
      text-align: center;
      margin-top: 3em;
    }
    .article{
      grid-column: 1/2;
      grid-row: 1/2;
      padding: 1em;
      text-align: center;
      }
   
      .article2{
        font-size: 35px;
      }

      iframe{
      grid-column: 1/2;
      text-align: center;
      margin-top: 3em;
      width: 100%;
      height:80%;
      }

      #weatherImages {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
      
      .weatherImages-image figure:hover {
        box-shadow: 6px 9px 15px 0 rgba(0,0,0,0.49);
      }
      
}

 /* ------------------------------------------------------------------------------------------------------------------------------
            ------------------------------------------
                    THESE ARE THE RULES FOR PRESTON PAGE
               --------------------------------------
 ------------------------------------------------------------------------------------------------------------------------------ */

@media only screen and (min-width: 1200px) {
  .cards{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
  }
}
