  body{
    padding: 0;
    /* margin-right: 1em;
    margin-left: 1em; */
  } 

 header {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
} 

.headings{
  display: flex;
  flex-direction: column;
}

.Weather-Logo{
  z-index: 1;
  width: 100px;
  height: 100px;
  margin-top: 0em;
  /* margin-left: 4em; */
}



.moto{
  letter-spacing: 1.5pt;
  font-size: larger;
  margin-left: 2em;
  margin-bottom: 1em;
  color: rgb(55, 125, 190);
  font-style: italic;
  font-size: 1.2rem;
  text-shadow: 2px 2px rgb(193, 193, 193);
}

h1 {
  color: rgb(55, 125, 190);
  font-size: 1.2rem;
  border-radius: 5px;
  border-bottom: 5px solid  rgb(55, 125, 190);
  margin-bottom: 1em;
  font-family: 'Diplomata SC', cursive;
  z-index: 2;
  text-align: center;
  margin-top: 1em;
  /* background: rgb(255, 206, 99); */
  padding: .25em;
  margin-right: 2em;
  margin-left: 0.5em;
  text-shadow: 2px 2px rgb(193, 193, 193);
}

h2{
  color: Black;
  font-size: 16px;
  border-radius: 5px;
  border-bottom: 5px solid  black;
  font-family: 'Diplomata SC', cursive;
  text-align: center;
  margin-top: 2em;
  background:rgb(172, 201, 228);
  padding-left: 3em;
  padding-right: 3em;
  padding: 1em;
  text-shadow: 2px 2px rgb(193, 193, 193);
  box-shadow: 2px 2px rgb(193, 193, 193);
  border-radius: 15px;
}

h3{
  color: rgb(55, 125, 190);
  font-size: 25px;
  border-radius: 5px;
  /* border-bottom: 5px solid  rgb(55, 125, 190); */
  font-family: 'Merriweather Sans', cursive;
  margin-top: -0.5em;
  text-shadow: 2px 2px rgb(193, 193, 193);
  text-align: center;
  margin-top: 1em;
  background:  rgb(253, 226, 167);
  display: block;
  text-align: center;
  box-shadow: 2px 2px rgb(193, 193, 193);
  padding: 0.5em;
}

h4{
  color: rgb(255, 206, 99);
  font-size: 25px;
  border-radius: 5px;
  /* border-bottom: 5px solid  rgb(255, 206, 99); */
  font-family: 'Merriweather Sans', cursive;
  z-index: 2;
  text-align: center;
  margin-left:2em;
  margin-right: 2em;
  text-shadow: 2px 2px rgb(193, 193, 193);
}
   

.footer-text {
  margin: 1px;
  color: white;
  border: 1px;
  padding: 10px;
  width: 100%;
  font-size: 22px;
  text-align: center;
}

footer {
  align-items: left;
  background-color:  rgb(55, 125, 190);
}

nav {
	margin: 0 auto;
	max-width: 1560px;
	background-color: red;
}
.navigation {
	list-style: none;
	text-align: center;
  padding: 0;
  background-color:  rgb(55, 125, 190);
  
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color: #fff;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
}
.navigation a:hover {
	color: black;
	background-color: rgb(172, 201, 228);
	font-weight: 700;
}

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */
.responsive li {
	display: block;
}

.section-1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 5em;
  margin-left: 1em;
  margin-right: 1em;
}



.section-2{
  background-color: rgb(208, 208, 208);
  margin-bottom: 5em;
}

.weather-summary{
  grid-column: 1/5;
  grid-row: 1/2;
  background-color: rgb(172, 201, 228);
  opacity: 0.85;
  border-radius: 15px;
  margin-top: 3em;
  margin-bottom: -3em;
  margin-left: 2em;
}
.Preston-pictures{
  width: 450px;
  border-radius: 15px;
  align-self: right;
}

#section-1-img{
  grid-column: 2/5;
  grid-row: 1/2;
  z-index: -1;
}

p.Forecast{
  margin-left: 2em;
} 



.section-2{
  background-color: rgb(208, 208, 208);
  margin-bottom: 5em;
}

.weather-summary{
  grid-column: 1/5;
  grid-row: 1/2;
  background-color: rgb(172, 201, 228);
  opacity: 0.85;
  border-radius: 15px;
  margin-top: 3em;
  margin-bottom: -3em;
  margin-left: 2em;
}

.article-box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  background: rgb(208, 208, 208);
  padding-bottom: 2em;
  padding-top: 2em;
  border-radius: 15px;


}

.Preston-pictures{
  grid-column: 1/2;
  width: 90%;
  text-align:center;

}
.article{
  grid-column: 2/3;
}
#section-1-img{
  grid-column: 2/5;
  grid-row: 1/2;
  z-index: -1;
}

p.Forecast{
  margin-left: 2em;
}

.hero{
  background-image: url(/cit230/prestonLesson5/images/preston-town-6.jpg);
    padding: 55px;
    min-height: 100px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#prestonH2{
  margin-top: -2em;
}

.Five-Day-Forecast{
  display: none;

}
@media only screen and (min-width: 700px) {
  .Five-Day-Forecast{
 display: block;
    background: rgb(208, 208, 208);
text-align:center;
align-items: center;
  }
}

td, th{
  text-align:center;
  padding: 0.5em;
  border: 1px solid black;
  background: rgb(255, 206, 99);
}

#wayfinder{
  list-style-type: circle;
}

.parallax{
  /* The image used */
      background-image: url("/cit230/prestonLesson5/images/preston-town-2.jpg");
    /* Set a specific height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

 iframe{
   display:none;
   grid-column: 2/3;
   grid-row: 1/2;
 }

 .article2{
  grid-column: 1/2;
  grid-row: 1/2;
}

/* class selectors */
.hidden{
  display: hidden;
}