
@media only screen and (min-width: 32em) {
	nav {
		margin: 0 auto;
		background-color: #fff;
	}

	.navigation {
		display: flex;
	}
	.navigation li:first-child {
		display: none;
	}
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation li a {
    color: white;
	}


  main{
    margin-left: 5em;
    margin-right: 5em;
  }

  header {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: row;
  } 
  
  .headings{
	display: flex;
	flex-direction: column;
  }
  
  .Weather-Logo{
	z-index: 1;
	width: 500px;
	height: 500px;
	margin-top: 0em;
	/* margin-left: 4em; */
  }

  .moto{
	letter-spacing: 1.5pt;
	font-size: larger;
	margin-left: 2em;
	margin-bottom: 1em;
	color: rgb(55, 125, 190);
	font-style: italic;
	font-size: 1.2rem;
	text-shadow: 2px 2px rgb(193, 193, 193);
  }
  
  footer {
	align-items: left;
	background-color:  rgb(55, 125, 190);
	margin-left: 5em;
    margin-right: 5em;
  }


  .section-1{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	margin-bottom: 5em;
	margin-left: 1em;
	margin-right: 1em;
  }

}