
@media only screen and (min-width: 65em){
  main{
    margin-left: 5em;
    margin-right: 5em;
  }

  footer {
    align-items: left;
    background-color:  rgb(55, 125, 190);
    }
    .navigation {
      display: flex;
  }

  .navigation li:first-child {
      display: none;
  }

  .navigation li {
      display: block;
      flex: 1 1 100%;
}

.navigation{
      margin: .65em 0;
  }
  .Five-Day-Forecast{
	  visibility: visible;
	display: block;
  }

  h2{
    size: 150px;
  }
}