  body{
    padding: 0;
  } 

 header {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
} 

.headings{
  display: flex;
  flex-direction: column;
}

.Weather-Logo{
  z-index: 1;
  width: 100px;
  height: 100px;
  margin-top: 0em;
  /* margin-left: 4em; */
}



.moto{
  letter-spacing: 1.5pt;
  font-size: larger;
  margin-left: 2em;
  margin-bottom: 1em;
  color: rgb(55, 125, 190);
  font-style: italic;
  font-size: 1.2rem;
  text-shadow: 2px 2px rgb(193, 193, 193);
}

h1 {
  color: rgb(55, 125, 190);
  font-size: 1.2rem;
  border-radius: 5px;
  border-bottom: 5px solid  rgb(55, 125, 190);
  margin-bottom: 1em;
  font-family: 'Diplomata SC', cursive;
  z-index: 2;
  text-align: center;
  margin-top: 1em;
  /* background: rgb(255, 206, 99); */
  padding: .25em;
  margin-right: 2em;
  margin-left: 0.5em;
  text-shadow: 2px 2px rgb(193, 193, 193);
}

h2{
  color: Black;
  font-size: 16px;
  border-radius: 5px;
  border-bottom: 5px solid  black;
  font-family: 'Diplomata SC', cursive;
  text-align: center;
  margin-top: 2em;
  background:rgb(172, 201, 228);
  padding-left: 3em;
  padding-right: 3em;
  padding: 1em;
  text-shadow: 2px 2px rgb(193, 193, 193);
  box-shadow: 2px 2px rgb(193, 193, 193);
  border-radius: 15px;
}

h3{
  color: rgb(55, 125, 190);
  font-size: 25px;
  border-radius: 5px;
  /* border-bottom: 5px solid  rgb(55, 125, 190); */
  font-family: 'Merriweather Sans', cursive;
  margin-top: -0.5em;
  text-shadow: 2px 2px rgb(193, 193, 193);
  text-align: center;
  margin-top: 1em;
  background:  rgb(253, 226, 167);
  display: block;
  text-align: center;
  box-shadow: 2px 2px rgb(193, 193, 193);
  padding: 0.5em;
}

h4{
  color: rgb(255, 206, 99);;
  font-size: 25px;
  border-radius: 5px;
  /* border-bottom: 5px solid  rgb(255, 206, 99); */
  font-family: 'Merriweather Sans', cursive;
  z-index: 2;
  text-align: center;
  margin-left:2em;
  margin-right: 2em;
  text-shadow: 2px 2px rgb(193, 193, 193);
}
   

.footer-text {
  margin: 1px;
  color: white;
  border: 1px;
  padding: 10px;
  width: 100%;
  font-size: 22px;
  text-align: center;
}

footer {
  margin: 0 auto;
	max-width: 3560px;
  background-color:  rgb(55, 125, 190);
}

nav {
	margin: 0 auto;
	max-width: 1560px;
	background-color: red;
}
.navigation {
	list-style: none;
	text-align: center;
  padding: 0;
  background-color:  rgb(55, 125, 190);
  
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color: #fff;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
}
.navigation a:hover {
	color: black;
	background-color: rgb(172, 201, 228);
	font-weight: 700;
}

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */
.responsive li {
	display: block;
}


td, th{
  padding: 0.5em;
  border: 1px solid black;
}

.section-2{
  background-color: rgb(208, 208, 208);
  margin-bottom: 5em;
}

.weather-summary{
  grid-column: 1/5;
  grid-row: 1/2;
  background-color: rgb(172, 201, 228);
  opacity: 0.85;
  border-radius: 15px;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: 2em;
}
.Preston-pictures{
  width: 450px;
  border-radius: 15px;
  align-self: right;
}
body, html {
  height: 100%;
  margin: 0;
}

.section-1-hero-img{
  background-image: url("https://live.staticflickr.com/1315/1123813884_29c4284637_b.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* p.Forecast{
  margin-left: 2em;
}  */

.Five-Day-Forecast{
  margin-top: 5em;
}

#wayfinder{
  list-style-type: circle;
}