
@media only screen and (min-width: 50em) {
  main{
    margin-left: 15em;
    margin-right: 15em;
  }

  footer {
    align-items: left;
    background-color:  rgb(55, 125, 190);
    margin-left: 15em;
      margin-right: 15em;
    }
}


.storage-unit {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(20, 5px);
}

.storage-unit1{
  width: 55%;
  grid-column: 1/2;
  grid-row: 1/20;
  margin-bottom: 5em;
}


