/* ------------------------------------------------------------------------------------------------------------------------------
              ------------------------------------------
                Temple Inn & Suites Style Sheet - large
              --------------------------------------
 ------------------------------------------------------------------------------------------------------------------------------ 
 ------------------------------------------------------------------------------------------------------------------------------ 
 Basic outline
- Home
- Temple1 -  Rome Temple
- Temple2 -  Fort Collins
- Temple3 -  San Diego  
- Temple4 - Salt Lake City
 -----------------------------> address, telephone, email, services, history, ordinance schedule, 
                                  session schedule, temple closure schedule (from a JSON source), 
                                  and summary—current weather information obtained from a third party API. 
- Registration Form
 -----------------------------> the location, date, number and type of rooms, registrant's full name, email, 
                                phone, home state or country, and special accommodations/comments. You will 
                                need to use the CSS flex method for the layout of your reservation form for 
                                full credit.
- Services Page
            - Receptions
            --------------------> displaying information about the wedding reception accommodations, including 
                                 options for food service and setup.

            - Full-Time Missionary Page
            --------------------> page that provides information and images about the suites offered at the hotel 
                                  with a simple Contact Us form for more details
 ------------------------------------------------------------------------------------------------------------------------------ 
 Color Scheme 
Site Header	Tangerine	40px	        #747CBC  - Grayish Blue
Primary Nav	Tangerine	30px	        #111826  - Black Gray
Footer Nav	ubuntu   	20px	        #111826  - Black Gray
Heading 1	Tangerine	30px	        #747CBC  - Grayish Blue
Heading 2	Ubuntu	    25px	        #A6A6A6  - Tanish Gray
Heading 3	Ubuntu	    20px	        #8F94A6  - Lighter Gray
Paragraph   text	    Ubuntu	16px	#000000  - black
 ------------------------------------------------------------------------------------------------------------------------------ 
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------
        General Rules - Large
   --------------------------------------
------------------------------------------------------------------------------------------------------------------------------ */
@media only screen and (min-width: 1200px){
        .Site-Logo {
                text-align: center;
                z-index: 1;
                width: 250px;
                height: 250px;
                margin-right: -10em;
                margin-left: 1em;
                opacity: 0.8;
              }
             
              h1.logo-box {
                font-size: 60px;
                text-shadow: none;
              }
             
              .moto {
                 letter-spacing: 5px;
                 font-size: 25px;
                 text-shadow: 2px 2px rgb(193, 193, 193);
                 margin-right: 1em;
                 margin-left: 3em;
                 text-align: center;
               }
/* ------------------------------------------------------------------------------------------------------------------------------
            ------------------------------------------
                    Home - large
               --------------------------------------
 ------------------------------------------------------------------------------------------------------------------------------ */

 
/*

/* ------------------------------------------------------------------------------------------------------------------------------
            ------------------------------------------
                    Temple1: Rome - large
               --------------------------------------
 ------------------------------------------------------------------------------------------------------------------------------ */
/*

/* ------------------------------------------------------------------------------------------------------------------------------
            ------------------------------------------
                    Temple2: Fort Collins - large
               --------------------------------------
 ------------------------------------------------------------------------------------------------------------------------------ */
/*

/* ------------------------------------------------------------------------------------------------------------------------------
            ------------------------------------------
                    Temple1: Sand Diego - large
               --------------------------------------
 ------------------------------------------------------------------------------------------------------------------------------ */
/*

/* ------------------------------------------------------------------------------------------------------------------------------
            ------------------------------------------
                    Temple1: Salt Lake City - large
               --------------------------------------
 ------------------------------------------------------------------------------------------------------------------------------ */
/*

/* ------------------------------------------------------------------------------------------------------------------------------
            ------------------------------------------
                     Registration Form - large
               --------------------------------------
 ------------------------------------------------------------------------------------------------------------------------------ */
/*

/* ------------------------------------------------------------------------------------------------------------------------------
            ------------------------------------------
                    - Services Page - large
               --------------------------------------
 ------------------------------------------------------------------------------------------------------------------------------ */


/* ------------------------------------------------------------------------------------------------------------------------------ 
                    - Receptions - large
------------------------------------------------------------------------------------------------------------------------------  */

/* ------------------------------------------------------------------------------------------------------------------------------ 
                - Full-Time Missionary Page - large
------------------------------------------------------------------------------------------------------------------------------  */
}