body{
font-family: 'Ubuntu', sans-serif;
}


table, tr, td{
    border: 1px solid rgb(167, 167, 167);
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
    color:black;
}

th{
    background-color: #628ca6;
    color: white;
    padding: 0.75em;
    font-size: 110%;
}

th[colspan="3"]{
background-color: #7fb9c2;
color: black;
font-style: bold;
}

td{
    padding: 5px;
    font-size: 55%;

}

tr:nth-child(even){
background-color: #e7ffed;
}

tr:nth-child(odd){
    background-color: #e7f0ed;
}


#blueCell{
    background-color: #628ca6;
    color: white;
}

 
tr:last-child{
    background: #7fb9c2;
    font-size: 55%;
}

td[colspan="2"]{
    color: black;
    font-style: normal;
}

section{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
}