@media only screen and (min-width: 50em){
  body{
    padding: 0;
  } 

.topnav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-left: 3em;
    margin-right: 3em;
  }

  .mylinks{
    display: flex;
    flex-direction: row;
  }

  main{
    margin-left: 20em;
    margin-right: 20em;
  }

  .topnav {
    overflow: none;
  }

  .topnav #mylinks{
    display: flex;
  }

  ul {
    /* border: 3px solid black; */
   display: flex;
   flex-direction: row;
   justify-content: space-around;
 }

 .navigation-list-1, .navigation-list-2, .navigation-list-3, .navigation-list-4{
  margin-left: 2em;
  margin-top: 4em;
}


}