@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
body {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  font-family: 'Big Shoulders Display', cursive;
}

#content {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px;
  margin-top: 5em;
}

h1 {
  color: white;
  font-size: 180%;
  grid-column: 3/7;
  background-color:  rgb(135, 202, 202);
  grid-row: 1/2;
  padding: 10px;
  border-radius: 15px;
  font-family: 'Bangers', cursive;
  text-align: center;
}

#personal-img {
  grid-column: 4/6;
  grid-row: 2/3;
  width: 100%;
  z-index: -1;
  margin-top: -10px;
}


h2 {
  color: black;
  font-size: 140%;
  text-align: center;
  border-bottom: 1px solid black;
  grid-column: 3/7;
  grid-row: 3/4;
}


li {
  font-size: 90%;
  grid-column: 2/6;
  grid-row: 4/5;
  margin-right: 1em;
}


p {
  margin: 1px;
  color: white;
  border: 1px;
  padding: 10px;
  width: 80%;
  font-size: 16px;
  text-align: center;
}

p.updated {
  color: yellow;
}


nav ul {
  font-size: 20px;
  list-style-type: none;
}

nav {
  margin-top: 1em;
  color: maroon;
  grid-column: 3/7;
  grid-row: 4/5;
  margin-top: -2em;
  text-align: center;
}

nav a {
  color: black;
  text-align: center;
}

nav a:hover {
  color:black;
  background:  rgb(135, 202, 202);
  border-radius: 5px;
  padding: 5px;

}


#footer {
  align-items: center;
  display: grid;
  background-color:  rgb(135, 202, 202);
  grid-column: 3/7;
  grid-row: 5/6;
}